@font-face {
    font-family: 'Brandy';
    src: url('BrandyRegular.woff2') format('woff2'),
        url('BrandyRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

