@font-face {
  font-family: 'star-wars';
  src: url(./police/star-wars/STARWARS2/STARWARS.woff2) format('woff2'),
    url(./police/star-wars/STARWARS2/STARWARS.woff) format('woff'),
    url(./police/star-wars/STARWARS/STARWARS.TTF) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

head.entete {
  margin-bottom: 50px;
}

.img_aceuille {
  display: flex;
  justify-content: center;
}

body {
  background-image: url(https://i.pinimg.com/736x/de/09/18/de0918e3d3b507ff870e87ee04f4790f.jpg);
  z-index: -1;
  background-size: cover;
  max-width: 100%;
  height: auto;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

main {
  background-color: rgba(184, 170, 152, 0.847);
  margin: 200px;
  text-align: center;
}

p {
  color: black;
  text-align: center;
  /*font-family: 'star-wars';*/
  margin: 200px;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #97989d;
  line-height: 5px;
  border-color: black;
  border: 4px solid;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 1em;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: black;
  /*text-decoration-line: none;*/
}

.poli-starwars-1 {
  font-family: 'star-wars';
  text-align: center;
  font-size: 30px;
}

#logo {
  height: 1em;
}