@font-face {
  font-family: 'star-wars';
  src: url(./police/star-wars/STARWARS2/STARWARS.woff2) format('woff2'),
    url(./police/star-wars/STARWARS2/STARWARS.woff) format('woff'),
    url(./police/star-wars/STARWARS/STARWARS.TTF) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.img-index {
  display: flex;
  justify-content: center;
}

body {
  background-image: url(./img/atat_degarder.jpg);
  z-index: -1;
  background-size: cover;
  max-width: 100%;
  height: auto;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

main {
  background-color: rgba(184, 170, 152, 0.847);
  margin: 200px;
  padding: 20% 1% 5%;
  text-align: center;
}

.texte_de_font_index {
  color: black;
  text-align: center;
  margin: 200px;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #97989d;
  line-height: 5px;
  border-color: black;
  border: 4px solid;
  padding-bottom: 1em;
  font-size: 25px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 0.8em;
  margin-top: 1em;
  margin-left: 1em;
}

nav ul li {
  list-style: none;
}

.police_index_starwars {
  font-family: 'star-wars';
  text-align: center;
  font-size: 50px;
}

#logo {
  height: 1em;
  margin-right: 1em;
}

.texte_de_font_evenements {
  text-align: center;
  margin: 200px;
  color: black;
}


/* tout ce qui a apres la note et lanimation boutont de navigation*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.animated-link {
  display: inline-block;
  background: black;
  border-radius: 3px;
  text-decoration: none;
}

.animated-link span {
  display: inline-block;
  background: #97989d;
  color: #333;
  border: 1px solid #000000;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  transition:
    transform 0.15s ease-out,
    color 0.15s ease-out,
    background-color 0.15s ease-out;
}

.animated-link:hover span {
  transition-delay: 0.15s;
  transform: translate(3px, -3px);
  color: black;
  background: #62aeb3;
}