@font-face {
  font-family: 'star-wars';
  src: url(./police/star-wars/STARWARS2/STARWARS.woff2) format('woff2'),
    url(./police/star-wars/STARWARS2/STARWARS.woff) format('woff'),
    url(./police/star-wars/STARWARS/STARWARS.TTF) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 4rem;
}

body {
  padding: 0;
  margin: 0;
  cursor: default;
}

/* Tout ce qui est pour la forme de l'écriture */
.title {
  color: rgb(0, 0, 0);
  text-align: center;
}

.police_starwars {
  font-family: 'star-wars';
  text-align: center;
  font-size: 50px;
}

.body-index .p1 .police_starwars {
  font-size: 15px;
  color: yellow;
}

.body-perso .recherche a {
  color: red;
  text-decoration: none;
}

.body-perso .prélogie h1 {
  font-size: 35px;
}

.body-perso table {
  border-collapse: collapse;
  border: 2px solid rgb(100, 114, 111);
  letter-spacing: 1px;
  font-size: 0.8rem;
  color: red;
  margin: auto;
  list-style: inside;
}

tr:nth-child(even) td {
  background-color: none;
  
}

tr:nth-child(odd) td {
  background-color: none;
  
}

td,
th {
  /*border:  1px solid rgb(100, 114, 111);*/
  padding: 5px 10px;
  border-bottom: 2px solid rgb(100, 114, 111);
  
}

td {
  text-align: center;
  
}

/* Tout ce qui est pour les images */
.img-index-mandalorien {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

#logo {
  margin-right: 1em;
}

/* Tout ce qui est "body" des 3 pages */
body {
  z-index: -1;
  background-size: cover;
  max-width: 100%;
  height: auto;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Tout ce qui est "main" des 3 pages */
main {
  text-align: center;
  margin-bottom: 2.5em;
}

/* Tout ce qui est "section" des 3 pages */
section {
  background: linear-gradient(rgb(0, 0, 0), 65%, rgb(255, 255, 255));
  /*padding-bottom: 100%;*/

  color: red;
  text-align: center;
}

/* Tout ce qui est pour la barre de navigation 
Ainsi que les animations de la barre de navigation */
nav {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #97989d;
  line-height: 5px;
  border-color: black;
  border: 4px solid;
  padding-bottom: 1em;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 0.8em;
  margin-top: 1em;
  margin-left: 1em;
}

nav ul li {
  list-style: none;
}

/* Tout ce qui est pour l'animation
 des boutons de navigation */
.animated-link {
  display: inline-block;
  background: black;
  border-radius: 3px;
  text-decoration: none;
}

.animated-link span {
  display: inline-block;
  background: #97989d;
  color: #333;
  border: 1px solid #000000;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  transition:
    transform 0.70s ease-out,
    color 0.70s ease-out,
    background-color 0.70s ease-out;
}

.animated-link:hover span {
  transition-delay: 0.05s;
  transform: translate(3px, -3px);
  color: black;
  background: #62aeb3;
}