@font-face {
    font-family: 'g Geruduk';
    src: url('gGeruduk.woff2') format('woff2'),
        url('gGeruduk.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

